@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background: grey;
  font-size: 16px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 30px;
  background: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.search,
.play-free,
.page-nav,
.article,
.footer,
.section p {
  display: none;
}
.main-nav {
  display: block;
  width: 20px;
  height: 20px;
  background: url("img/menu.svg") no-repeat 0 0;
}
.main-nav * {
  display: none;
}
.mobile-logo {
  display: block;
  width: 24px;
  height: 33px;
  background: url("img/wot_logo_header.svg") no-repeat 0 0;
  color: transparent;
  font: 0/0 a;
}
.search {
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  background: url("img/search.svg") no-repeat 0 0;
}
.invisible {
  color: transparent;
  font: 0/0 a;
}
.bg {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
}
.bg-game {
  background: url("img/grass.webp") repeat 0 0,
  url("img/grass.webp") repeat 200px -40px,
  url("img/grass.webp") repeat 0 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.bg-tanks {
  background: url("img/sand.webp") repeat 0 0,
  url("img/sand.webp") repeat 200px -40px,
  url("img/sand.webp") repeat 0 600px;
  position: absolute;
  bottom: 0;
  top: 33%;
  right: 0;
  left: 0;
}
.bg-power {
  background: url("img/dust.webp") repeat 0 0,
  url("img/dust.webp") repeat 200px -40px,
  url("img/dust.webp") repeat 0 600px;
  position: absolute;
  bottom: 0;
  top: 67%;
  right: 0;
  left: 0;
}
.main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;
}
.section {
  align-self: center;
  background: url("img/the-game.png") no-repeat 50% 50%;
  background-size: 103px 86px;
}
.section-tanks {
  background: url("img/the-tank.png") no-repeat 50% 50%;
  background-size: 100px 100px;
}
.section-power {
  background: url("img/the-power.png") no-repeat 50% 50%;
  background-size: 100px 100px;
}
.section h2 {
  margin: 0;
  padding: 30px 0;
  padding-left: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.section h2 span {
  display: block;
  font-size: 0.5625rem;
}
.opened-section .bg {
  display: none;
}
.opened-section .section {
  display: none;
}
.opened-section .section-open {
  display: block;
  background: url("img/grass.webp") repeat 0 0,
  url("img/grass.webp") repeat 200px -40px,
  url("img/grass.webp") repeat 40px 600px;
}
.opened-section .section-open.section-tanks {
  display: block;
  background: url("img/sand.webp") repeat 0 0,
  url("img/sand.webp") repeat 200px -40px,
  url("img/sand.webp") repeat 40px 600px;
}
.opened-section .section-open.section-power {
  display: block;
  background: url("img/dust.webp") repeat 0 0,
  url("img/dust.webp") repeat 200px -40px,
  url("img/dust.webp") repeat 40px 600px;
}
.opened-section .article,
.opened-section .section p {
  display: block;
}
.opened-section .article {
  padding: 80px 30px;
  background: url("img/s1-tanks_res.webp") no-repeat 50% 100%;
}
.opened-section .article:nth-of-type(2) {
  background: url("img/s2-tank-remote_res.webp") no-repeat 50% 55%,
  url("img/s2-tank_res.webp") no-repeat -50% 100%,
  url("img/s2-tank.webp") no-repeat 110% 20%;
}
.opened-section .article:nth-of-type(3) {
  background: url("img/s3-hill_res.webp") no-repeat 50% 100%;
}
.opened-section .title {
  font-size: 2.25rem;
  text-transform: uppercase;
}
.section.section-open h2,
.section.section-open header p {
  display: none;
}

@media all and (min-width: 760px) {
  .header {
    background: rgba(0, 0, 0, .3);
    justify-content: center;
  }
  .bg {
    display: none;
  }
  .main-nav {
    display: flex;
    width: auto;
    height: auto;
    background: none;
  }
  .main-nav * {
    display: block;
  }
  .main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  .header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-nav li a {
    display: block;
    height: 60px;
    margin: 0 15px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 3.75rem;
  }
  .main-nav li a:hover,
  .main-nav li a:active {
    border-bottom-color: #ffffff;
  }
  .main-nav li a.home {
    display: block;
    width: 24px;
    background: url("img/wot_logo_header.svg") no-repeat 0 50%;
    color: transparent;
    font: 0/0 a;
    border: none;
  }
  .mobile-logo {
    display: none;
  }
  .play-free,
  .search {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
  }
  .play-free {
    width: 80px;
    font-size: 0.875rem;
  }
  .search {
    top: 15px;
    right: 120px;
  }
  .main {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0;
  }
  .section {
    padding: 50% 40px 90px 40px;
    background: url("img/grass.webp") repeat 0 0,
    url("img/grass.webp") repeat 200px -40px,
    url("img/grass.webp") repeat 40px 600px;
    align-self: auto;
  }
  .section.section-tanks {
    background:  url("img/turret.webp") no-repeat 50% 100%,
    url("img/tank.webp") no-repeat 50% 150%,
    url("img/sand.webp") repeat 0 0,
    url("img/sand.webp") repeat 200px -40px,
    url("img/sand.webp") repeat 40px 600px;
  }
  .section.section-power {
    background: url("img/dust.webp") repeat 0 0,
    url("img/dust.webp") repeat 200px -40px,
    url("img/dust.webp") repeat 40px 600px;
  }
  .section h2 {
    padding: 100px 0;
    margin-bottom: 100px;
    background: url("img/the-game.png") no-repeat 50% 50%;
    font-size: 2.25rem;
  }
  .section.section.section-tanks h2 {background: url("img/the-tank.png") no-repeat 50% 50%;}
  .section.section.section-power h2 {background: url("img/the-power.png") no-repeat 50% 50%;}
  .section h2 span {
    font-size: 0.875rem;
  }
  .section header p {
    display: block;
    position: relative;
    font-size: 1.31rem;
    font-weight: 300;
    text-align: center;
  }
  .opened-section .main {
    grid-template-columns: none;
  }
  .opened-section .section-open {
    padding: 0;
  }
  .opened-section .article {
    padding: 100px 50px;
    background: url("img/s1-tanks.webp") no-repeat 50% 100%,
    url("img/s1-rock-right.webp") no-repeat 100% 80%,
    url("img/s1-rock-left.webp") no-repeat 0 80%
  }
  .opened-section .article:nth-of-type(2) {
    background: url("img/s2-tank.webp") no-repeat -250% 100%,
    url("img/s2-tank.webp") no-repeat 350% 100%,
    url("img/s2-tank-remote.webp") no-repeat 50% 50%;
  }
  .opened-section .article:nth-of-type(3) {
    background: url("img/s3-hill.webp") no-repeat 0 100%,
    url("img/s3-sky.webp") no-repeat 100% 100%;
  }
  .opened-section .title {
    font-size: 6.25rem;
    white-space: pre-line;
  }
  .article p {
    font-size: 1.31rem;
    font-weight: 300;
  }
}

@media all and (min-width: 960px) { 
  .main-nav li a {
    margin: 0 30px;   
  }
  .opened-section .article {
    padding: 100px 20%;
  }
}